/* MAX WIDTHS OF SCREEN */

/* styles for max width of 1024px */
@media screen and (max-width: 1024px){

}
/* styles for max width of 960px */
@media screen and (max-width: 960px){

}
/* styles for max width of 767px */
@media screen and (max-width: 767px){
    .menu{
        display: none;
    }
    .sidebar{
		display: block;
    }
    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 676px){
    .arrival{
        width: 75%;
        margin: 0 auto;
    }
    .album{
        width: 75%;
        margin: 0 auto;

    }
}
@media screen and (max-width: 620px){
    .container{
        width: 90%;
    }
}
/* styles for max width of 556px */
@media screen and (max-width: 576px){
    .user-actions{
        display: none;
    }
    .social-ul{
        justify-content: center;
        align-items: center;
    }
}
/* styles for max width of 480px */
@media screen and (max-width: 480px){

}

/* MIN WIDTHS OF SCREEN */

/* styles for min width of 1024px */
@media screen and (min-width: 1024px){

}
/* styles for min width of 960px */
@media screen and (min-width: 960px){

}
/* styles for min width of 767px */
@media screen and (min-width: 767px){

}
/* styles for min width of 556px */
@media screen and (min-width: 556px){

}